@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
    outline: none;
}

@font-face {
    font-family: "Monogram";
    src: url("/static/fonts/monogram.ttf") format("opentype");
}

.cm-editor .cm-content { font-family: "Monogram"; font-size: 1.4rem; }
.cm-line {
    line-height: 1.2rem;
}
